.btn{
    padding: 16px 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    svg{
        font-size: 18px;
        
    }
}
.components_btn{
background-color: #3909d7;
color: white;
}
.chart-btn{
 background-color: gray;
 color: black;
}
