.dropdown{
    display: flex;
    flex-direction: column;
    select{
        width: 180px;
    align-self: center;
    height: 36px;
    border-radius: 5px;
    }
}
.grid{
    border: 1px solid;
    padding: 10px;
    margin: 6px;
    border-radius: 8px;
    background-color: #dbd8d8;
    
}

